<div class="about">
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">About us</h1>
    </div>
  </section>
  <div class="container about">
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Who we are</h2>
        <p class="lead">Founded in 2009, by designers Ben Wright and Paul Stafford, DesignStudio is a global brand
          and design agency with offices in the creative hubs of London and San Francisco.</p>
        <p class="lead">
          Ben and Paul opened the agency after spotting a split in the creative industry. Studios were either
          boutique and beautiful, but only managing to work on a few projects or of a massive scale and impersonal
          with their client relationships. DesignStudio was created with the aim to fill this gap – delivering the
          quality of boutique, bespoke design to global brands and audiences.</p>
      </div>
      <div class="col-md-5">
        <img alt="image1" class="about-img" src="./assets/images/about1.jpg">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 push-md-5">
        <h2 class="featurette-heading">What we do</h2>
        <p class="lead">Brands approach DesignStudio as they recognise the value of being design-led in the global
          economy. Our ideas and creativity help our clients live across different platforms. And they’re always
          ideas we can deliver. Rebrands, graphic design, film, photography and artwork, 3D, animation. All led by
          creative. All equally strong.</p>
        <p class="lead">By applying creative, critical thinking to these different channels, we change people’s
          perceptions and create the brands of the future.</p>
      </div>
      <div class="col-md-5 pull-md-7">
        <img alt="image2" class="about-img"  src="./assets/images/about2.jpg">
      </div>
    </div>
  </div>
</div>
